
  body {
    background-image: url('picture/login.png'); /* Đường dẫn đến tệp PNG */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;   
}body {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Dancing Script', cursive;
}
.logo {
    position: absolute;
    top: 1px; /* Đặt khoảng cách từ trên xuống */
    left: 1px; /* Đặt khoảng cách từ trái qua */
    width: 200px; /* Đặt chiều rộng của logo */
    height: auto; /* Để tự động điều chỉnh chiều cao để giữ tỷ lệ khung hình */
}
