
  body {
    background-image: url('picture/login.png'); /* Đường dẫn đến tệp PNG */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;   
}body {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Dancing Script', cursive;
}
.logo {
    position: absolute;
    top: 1px; /* Đặt khoảng cách từ trên xuống */
    left: 1px; /* Đặt khoảng cách từ trái qua */
    width: 200px; /* Đặt chiều rộng của logo */
    height: auto; /* Để tự động điều chỉnh chiều cao để giữ tỷ lệ khung hình */
}
input[type="text"],
input[type="email"],
input[type="password"] 
{
  width: 300px; /* Độ rộng */
  padding: 10px; /* Khoảng cách bên trong */
  font-size: 16px; /* Cỡ chữ */
  display: block; /* Chuyển sang chế độ hiển thị block để sử dụng thuộc tính margin: 0 auto; */
  margin: 0 auto; /* Để căn giữa ngang */
}
label {
  display: block;
  text-align: center; /* Căn giữa ngang */
  margin-top: 10px; /* Căn giữa dọc */
}
h1 {
  text-align: center; /* Căn giữa tiêu đề theo chiều ngang */
}

button{
  display: block;
  text-align: center; /* Căn giữa ngang */
  margin: 0 auto ;
   
}











